@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  background-color: #2d3250;
  font-family: "Roboto", sans-serif;
}

form {
  width: 30vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #424769;
  border-radius: 0.25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

input[type="email"],
input[type="password"] {
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  display: block;
  border: none;
  font-family: "Roboto", sans-serif;
}

input {
  margin: 0.25rem 0;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #7077a1;
}

label[for="remember-me"] {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

button {
  height: 3rem;
  margin: 0.5rem 0;
  color: #2d3250;
  background-color: #f6b17a;
  font-size: 1.5rem;
  border: none;
  transition: all ease 0.15s;
}

button:hover {
  scale: 1.03;
}

button:active {
  scale: 0.97;
}

p.align-right {
  text-align: right;
}

p.hi {
  padding-bottom: 2rem;
  font-size: 2rem;
}

a {
  color: #f6b17a;
}

.error {
  height: 1.1rem;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: red;
}
